
<form class="container" name="form" ng-submit="submit(form)">

	<h3>
		Add Data
	</h3>

	<div ng-show="added" class="alert alert-success">
		Successfully added! <br>

		<strong ng-show=" analytics.length < minDataLength ">
			Please add {{ minDataLength - analytics.length }} more.
		</strong>

		<p ng-show=" analytics.length >= minDataLength ">
			<a href="#/histogram" class="btn btn-primary">
				View histogram
			</a>
		</p>

	</div>

	<div class="row">
		<div class="form-group col-md-2">
			
			<label for="date">
				Date
			</label>

			<input 
				ng-model="analyticsData.date"
				date-picker="true"
				placeholder="DD/MM/YYYY"
				type="text"
				name="date"
				id="date"
				class="col-md-4 form-control"
				ng-required="true">

		</div>


		<div class="form-group col-md-7">
			
			<label for="url">
				URL
			</label>

			<input
				ng-model="analyticsData.url"
				type="text"
				name="url"
				id="url"
				placeholder="http://"
				class="form-control"
				ng-required="true">

		</div>

		<div class="form-group col-md-3">
			
			<label for="time">
				Response time (in seconds)
			</label>

			<input 
				ng-model="analyticsData.time"
				type="number"
				name="time"
				id="time"
				value="0"
				min="0"
				placeholder="0"
				class="form-control"
				ng-required="true">

		</div>

	</div>

	<div class="row col-md-3">
	
		<input 
			type="submit"
			value="Submit"
			class="btn btn-primary">
	
		<input 
			type="button"
			value="Reset"
			ng-click="resetData()"
			class="btn">

	</div>

</form>