<div class="container">
	<div histogram-graph graph-data="analytics">
	</div>

	<input 
		type="button"
		value="Clear and add data"
		ng-click="clearData(); addData();"
		class="btn btn-primary">

</div>